<mat-card>
    <mat-card-title> Nova Casa</mat-card-title>
    <form>
        <mat-form-field>
            <input matInput placeholder="Nome" [(ngModel)]="casa.nome" name="nome" required="required">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Endereco" [(ngModel)]="casa.endereco" name="endereco" required="required">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Capacidade" [(ngModel)]="casa.capacidade" name="capacidade" required="required">  
        </mat-form-field>
    </form>
    <button class="button-pr" mat-raised-button (click)="createCasa()" color="primary">
        Salvar
    </button>
    <button class="button-pr" mat-raised-button (click)="cancel()">
        Cancelar
    </button>
</mat-card>
